Flask==3.0.0
Flask-Cors==4.0.0
Flask-Pydantic-Spec==0.8.5

Gunicorn==21.2.0

unstructured-ingest[remote]
unstructured-ingest[s3]
unstructured-ingest[pdf]
unstructured-ingest[docx]
unstructured-ingest[postgres]

boto3

pydantic-settings
python-dotenv

logging

uvicorn